{% extends "home.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/Catalogo/catalogoCards.css" />
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" />
{% endblock %}

{% block principal %}

<header class="cat-header">
    <div class="header-left ms-15">
        <h1>Catálogo de Produtos</h1>
    </div>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Pesquisar produto...">
        <button type="button" onclick="filtrarProdutos()">
            <i class="bx bx-search"></i>
        </button>
    </div>
</header>

<div class="catalog-wrapper" id="catalogGrid">
    {% for produto in produtos %}
    <div class="produto-card" data-nome="{{ produto.nome | lower }}" data-codigo="{{ produto.codigo }}">
        <img src="/{{ produto.imagens[0].imagem_url if produto.temImagens else 'image/produto_sem_imagem.png' }}"
            alt="{{ produto.nome }}">
        <div class="card-body">
            <h5 class="card-title">{{ produto.nome if produto.nome else "Sem nome" }}</h5>
            <p class="card-text">Código: {{ produto.codigo }}</p>
            {% if produto.preco %}
            <p class="preco">R$ {{ produto.preco / 100 }}</p>
            {% endif %}
            {%if produto.temImagens%}
            <a href="{{ baseUrl }}/produtos/{{ produto.codigo }}" class="btn-ver">Ver imagens do produto</a>
            {%else%}
            <span class="badge-sem-imagem">Produto sem imagens</span>
            {%endif%}
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination-bar">
    <a href="?pagina={{ paginaAtual - 1 }}" class="page-btn {% if paginaAtual <= 1 %}disabled{% endif %}">
        <i class="bx bx-chevron-left"></i>
        Anterior
    </a>
    <a href="?pagina={{ paginaAtual }}" class="page-num active">
        {{ paginaAtual }}
    </a>
    <a href="?pagina={{ paginaAtual + 1 }}" class="page-btn {% if paginaAtual >= totalPaginas %}disabled{% endif %}">
        Próxima
        <i class="bx bx-chevron-right"></i>
    </a>
</div>

<script>
    function filtrarProdutos() {
        const input = document.getElementById("searchInput");
        const url = "{{baseUrl}}";
        window.location.href = `${url}/catalogo?busca=${input.value}`;
    }

    document.getElementById("searchInput").addEventListener("keyup", function (e) {
        if (e.key === "Enter") filtrarProdutos();
    });

    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const busca = urlParams.get('busca');
        if (busca) {
            document.getElementById("searchInput").value = busca;
        }
    });
</script>

{% endblock %}