{% extends "home.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/home.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/administracao.css" media="screen" />
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" />
<title>Administração - Shopping Real</title>
{% endblock %}

{% block principal %}
<div class="admin-container">
    <h1 class="admin-title">Painel de Administração</h1>
    <p class="admin-subtitle">Escolha o que você deseja gerenciar:</p>
    
    <div class="admin-cards">
        <a href="{{ BASE_URL }}/administracao/usuarios" class="admin-card">
            <i class='bx bxs-user-detail admin-card-icon'></i>
            <h2>Gerir Usuários</h2>
            <p>Adicionar, visualizar e editar os usuários do sistema.</p>
        </a>

         <a href="{{ BASE_URL }}/cliente/todos" class="admin-card">
            <i class='bx bxs-user-detail admin-card-icon'></i>
            <h2>Gerir Clientes</h2>
            <p>Adicionar, visualizar e editar os clientes do sistema.</p>
        </a>
        
        <a href="#" class="admin-card">
            <i class='bx bxs-discount admin-card-icon'></i>
            <h2>Gerir Cupons</h2>
            <p>Administrar os cupons disponíveis e campanhas.</p>
        </a>
    </div>
</div>
{% endblock %}
