
<form>
    <input type="text" name="codigo_produto" placeholder="Codigo do produto">
    
    <input type="file" name="imagens" multiple>
    
    <button type="submit">
        Enviar imagens
    </button>

</form>