{% extends "home.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/cliente.css" media="screen" />
<link rel="icon" type="image/x-icon" href="/image/icon.png">
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
<title>Shopping Real - Cadastro de Cliente</title>
{% endblock %}

{% block principal %}

    <div class="container-cliente">
        <div class="wrap-cliente">
            <span class="cliente-form-title">Cadastro de Cliente</span>
            {% if erro %}
               <p class="ms erro"><i class='bx bx-error-circle'></i> {{erro}}</p>
            {% endif %}
            <form action="{{ url }}" method="POST">

                <div class="wrap-input">
                    <input type="text" class="input-cliente" name="codigoVendedor" placeholder="Código do Vendedor" required>
                </div>

                <div class="wrap-input">
                    <input type="text" class="input-cliente" name="codigoCliente" placeholder="Código do Cliente" required>
                </div>

                <div class="wrap-input">
                    <input type="text" class="input-cliente" name="codigoPedido" placeholder="Código do Pedido, caso tenha">
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn-cliente">Cadastrar Cliente</button>
                </div>
                
            </form>
        </div>
    </div>

{% endblock %}
