<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar novo usuário</title>
</head>
<body>
    <form action="{{ url }}createUser" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br>
        <label for="snome">Sobrenome:</label>
        <input type="text" id="snome" name="snome">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
        <br>
        <label for="tipo">Tipo:</label>
        <input type="number" id="tipo" name="tipo">
        <br>
        <button type="submit">Criar</button>
    </form>
</body>
</html>