{% extends "home.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/cliente.css" media="screen" />
<link rel="icon" type="image/x-icon" href="/image/icon.png">
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
<title>Shopping Real - Upload de Imagens</title>
{% endblock %}

{% block principal %}

    <div class="container-cliente">
        <div class="wrap-cliente">
            <span class="cliente-form-title">Upload de Imagens</span>
            {% if erro %}
               <p class="ms erro"><i class='bx bx-error-circle'></i> {{erro}}</p>
            {% endif %}
            {% if message %}
               <p class="ms success"><i class='bx bx-check-circle'></i> {{message}}</p>
            {% endif %}
            <form action="{{baseUrl}}" method="POST" enctype="multipart/form-data">

                <div class="wrap-input">
                    <input type="text" class="input-cliente" name="codigo_produto" placeholder="Código do Produto" required>
                </div>

                <div class="wrap-input">
                    <input type="file" name="imagens" multiple required accept="image/*" >
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn-cliente">Enviar Imagens</button>
                </div>
                
            </form>
        </div>
    </div>

{% endblock %}
